dashboard

my cards
= form_for @deck do |f|
  = f.label :name
  = f.text_field :name
  = f.submit
  
.decks
  %h2 decks
  - @decks.each do |deck|
    = div_for deck do
      = link_to deck.name, deck
